
.container{
    display: grid;
    grid-gap: 24px;
    grid-template-columns:auto auto auto auto auto auto   ;
    grid-template-rows:auto auto auto auto auto auto auto auto auto auto auto auto  ;
    width:100% ;
    height:100vh ;
    background-color: teal;
    padding: 24px;
    

}

.box1{
    background-color: mediumaquamarine;
    grid-column: 1/3;
    grid-row: 1/4;
}

.box2{
    background-color: mediumaquamarine;
    grid-column: 3/5;
    grid-row: 1/7;
}

.box3{
    background-color: mediumaquamarine;
    grid-row: 1/3;
    grid-column: 5/7;
}

.box4{
    background-color: mediumaquamarine;
    grid-row: 3/5;
    grid-column: 5/7;
}

.box5{
    background-color: mediumaquamarine;
    grid-column: 1/3;
    grid-row: 4/7;
}


.box6{
    background-color: mediumaquamarine;
    grid-column: 5/7;
    grid-row: 5/7;
}

.box7{
    background-color: mediumaquamarine;
    grid-column: 1/3;
    grid-row: 7/11;
}

.box8{
    background-color: mediumaquamarine;
    grid-row: 7/9;
}

.box9{
    background-color: mediumaquamarine;
    grid-column: 4/6;
    grid-row: 7/11;
}

.box10{
    background-color: mediumaquamarine;
    grid-row: 7/11;
}

.box11{
    background-color: mediumaquamarine;
    grid-row: 9/11;
}

.box12{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    text-transform: uppercase;
    color: #000000;
    background-color: mediumaquamarine;
    grid-row: 11/13;
    grid-column: 1/7;
    }
